<div class="card h-100 shadow-sm transition-all duration-300 hover:shadow-lg"
    [routerLink]="['/user/product-detail', item?.productId]">
    <img src="{{(item?.imageUrl?.includes('https://hoanghapccdn.com')?'':'http://localhost:8080/identity/api/images/')}}{{item.imageUrl}}"
        class="card-img-top p-3" alt="Product">
    <div class="card-body text-center">
        <h5 class="card-title">{{item?.productName}}</h5>
        <div class="text-warning mb-2">★★★★☆</div>
        <div class="fw-bold text-success mb-2">{{item?.price|currency:'VND'}}</div>
        <a class="btn btn-outline-primary w-100" (click)="addToCart(item);$event.stopPropagation()"><i
                class="lni lni-cart"></i> Thêm vào giỏ</a>
    </div>
</div>