<div class="mb-2 d-flex justify-content-between">
    <div class="d-flex w-75 gap-3">
        <div class="d-flex flex-column w-50">
            <nz-input-group [nzSuffix]="suffixIcon" class="search-input">
                <input nz-input [(ngModel)]="searchQuery" placeholder="Nhập tên sản phẩm..."
                    (ngModelChange)="onSearch()">
            </nz-input-group>
        </div>
        <div class="d-flex flex-column w-50">
            <nz-select class="custom-select" [(ngModel)]="selectedCategory" (ngModelChange)="onCategoryChange()"
                nzPlaceHolder="Chọn danh mục" nzAllowClear nzShowSearch>
                <nz-option *ngFor="let category of categories" [nzValue]="category.id"
                    [nzLabel]="category.name"></nz-option>
            </nz-select>
        </div>
    </div>
    <span class="tab-header-item" (click)="onCreate()">
        Thêm mới
    </span>
    <ng-template #suffixIcon>
        <i nz-icon nzType="search" style="cursor: pointer;" (click)="onSearch()"></i>
    </ng-template>
</div>
<app-table [data]="data" [settingValue]="settingValue" [columns]="cols" (onAction)="onAction($event)" [scrollY]="'42vh'"
    [pageSize]="pageSize" [loading]="loading" [page]="page" [totalElements]="totalElements"
    (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)"></app-table>