::ng-deep .ant-table-container {
    border: 1px solid #d9d9d9;
    border-radius: 12px;
    overflow: hidden;
}

.action-icon {
    color: #999;
    font-size: 16px;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: #1890ff;
        cursor: pointer;
        transform: translateY(-2px);
    }
}

.ant-pagination {
    margin: 10px 0px;
}