<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" nzTheme="light">
        <div class="d-flex justify-content-between flex-column h-100">
            <div>
                <div class="logo"><img src="../../../assets/icon/logo.svg" width="100%" height="100%" />
                </div>
                <ul nz-menu nzTheme="light" nzMode="inline">
                    <li nz-menu-item (click)="onSelect(TITLE.USER)" class="menu-item ">
                        <span nz-icon nzType="user" nzTheme="outline"></span>
                        <span>Quản lý tài khoản</span>
                    </li>
                    <li nz-menu-item (click)="onSelect(TITLE.PRODUCT)" class="menu-item ">
                        <span nz-icon nzType="gift" nzTheme="outline"></span>
                        <span>Quản lý sản phẩm</span>
                    </li>
                    <li nz-menu-item (click)="onSelect(TITLE.CATEGORY)" class="menu-item ">
                        <span nz-icon nzType="appstore" nzTheme="outline"></span>
                        <span>Quản lý danh mục</span>
                    </li>
                    <li nz-menu-item (click)="onSelect(TITLE.SUPPLIER)" class="menu-item ">
                        <span nz-icon nzType="appstore" nzTheme="outline"></span>
                        <span>Quản lý nhà cung cấp</span>
                    </li>
                    <li nz-menu-item (click)="onSelect(TITLE.ORDER)" class="menu-item ">
                        <span nz-icon nzType="appstore" nzTheme="outline"></span>
                        <span>Quản lý đơn hàng</span>
                    </li>
                </ul>
            </div>
            <div class="d-flex justify-content-between flex-column ">
                <div class="d-flex justify-content-center algin-items-center w-100">
                    <nz-avatar nzIcon="user" nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="topRight"></nz-avatar>
                </div>
                <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                    (click)="isCollapsed = !isCollapsed"></span>
            </div>

        </div>

    </nz-sider>
    <nz-layout>
        <nz-content>

            <div class="inner-content">
                <app-tab-group [(activeIndex)]="currentIndex" [tabPanelList]="tabPanelList">
                </app-tab-group>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
<nz-dropdown-menu #menu2="nzDropdownMenu">
    <ul nz-menu>
        <li nz-menu-item (click)="onLogOut()">Logout</li>
        <li nz-menu-item (click)="getProfile()">Xem hồ sơ</li>
    </ul>
</nz-dropdown-menu>