<form nz-form [formGroup]="myForm" nzLayout="vertical">
    <nz-row [nzGutter]="16">
        <ng-container *ngFor="let field of fieldFormGroup" [ngSwitch]="field.type">
            <ng-container *ngSwitchCase="TYPE.TEXT">
                <nz-col [nzSpan]="field.span">
                    <nz-form-item>
                        <nz-form-label [nzFor]="field.fieldName"
                            [nzRequired]="field.required">{{field.label}}</nz-form-label>
                        <nz-form-control [nzErrorTip]="errorTemplate">
                            <input [formControlName]="field.fieldName" nz-input [placeholder]="field.placeholder" />
                        </nz-form-control>
                    </nz-form-item>
                </nz-col>
            </ng-container>
            <ng-container *ngSwitchCase="TYPE.IMAGE">
                <nz-col [nzSpan]="field.span">
                    <nz-form-item>
                        <nz-form-label [nzFor]="field.fieldName"
                            [nzRequired]="field.required">{{field.label}}</nz-form-label>
                        <nz-form-control [nzErrorTip]="errorTemplate">
                            <!-- <img src="http://localhost:8080/identity/api/images/{{item[field.fieldName]}}" width="40px"
                                height="40px" /> -->
                            <nz-upload nzListType="picture" [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
                                <button nz-button class="w-100 h-auto p-2">
                                    <span nz-icon nzType="upload"
                                        class="d-flex justify-content-center gap-2">Upload</span>
                                </button>
                            </nz-upload>

                        </nz-form-control>
                    </nz-form-item>
                </nz-col>
            </ng-container>
            <ng-container *ngSwitchCase="TYPE.NUMBER">
                <nz-col [nzSpan]="field.span">
                    <nz-form-item>
                        <nz-form-label [nzFor]="field.fieldName"
                            [nzRequired]="field.required">{{field.label}}</nz-form-label>
                        <nz-form-control [nzErrorTip]="errorTemplate">
                            <input [formControlName]="field.fieldName" nz-input [placeholder]="field.placeholder" />
                        </nz-form-control>
                    </nz-form-item>
                </nz-col>
            </ng-container>
            <ng-container *ngSwitchCase="TYPE.DATE">
                <nz-col [nzSpan]="field.span">
                    <nz-form-item>
                        <nz-form-label [nzFor]="field.fieldName" [nzRequired]="field.required">
                            {{ field.label }}
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="errorTemplate">
                            <nz-date-picker [formControlName]="field.fieldName"
                                [nzPlaceHolder]="field.placeholder || 'Chọn ngày'" [nzFormat]="'dd/MM/yyyy'"
                                class="w-100">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </nz-col>
            </ng-container>
            <ng-container *ngSwitchCase="TYPE.SELECT">
                <nz-col [nzSpan]="field.span">
                    <nz-form-item>
                        <nz-form-label [nzFor]="field.fieldName"
                            [nzRequired]="field.required">{{field.label}}</nz-form-label>
                        <nz-form-control [nzErrorTip]="errorTemplate">
                            <nz-select [formControlName]="field.fieldName" [nzShowSearch]="true"
                                [nzOptions]="selectOptions[field.fieldName]" nzPlaceHolder="Select">

                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </nz-col>
            </ng-container>
        </ng-container>
        <!-- <ng-container *ngFor="let field of fieldFormGroup" [ngSwitch]="field.type">
            
        </ng-container> -->
    </nz-row>
</form>
<ng-template #errorTemplate let-fieldName="fieldName">
    <ng-container *ngIf="getErrorMessage(fieldName) as errorText">
        {{ errorText }}
    </ng-container>
</ng-template>