::ng-deep nz-layout {
    min-height: 100vh;
    /* Đảm bảo layout luôn chiếm đủ màn hình */
}

nz-content {
    flex: 1;
    /* Nội dung mở rộng để đẩy footer xuống */
    display: flex;
    flex-direction: column;
}

.ant-modal {
    border-radius: 12px !important;
    overflow: hidden;
}

.ant-modal-content {
    border-radius: 12px !important;
}

.ant-modal-header {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}

.ant-modal-footer {
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

.ant-btn {
    border-radius: 12px;
}

.ant-notification-notice {
    border-radius: 12px;
}

.ant-input {
    border-radius: 12px;
}

.ant-input-affix-wrapper {
    border-radius: 18px;
}

.btn {
    width: 80px;
    height: auto;
    padding: 8px;
}

.nz-input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* Thêm hiệu ứng bóng nhẹ */
    padding: 5px;
    background-color: #f9f9f9;
    /* Màu nền nhạt */
}

/* Định dạng cho input */
.nz-input-group input {
    border: 1px solid #d9d9d9;
    /* Đường viền nhẹ cho input */
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
    transition: border-color 0.3s ease-in-out;
}

/* Khi input được focus */
.nz-input-group input:focus {
    border-color: #1890ff;
    /* Màu viền khi focus */
    outline: none;
}

/* Định dạng cho icon suffix */
.nz-input-group .ant-input-suffix {
    font-size: 16px;
    color: #1890ff;
    /* Màu icon */
    cursor: pointer;
}

/* Định dạng cho input group khi có lỗi */
.nz-input-group .ant-input-status-error {
    border-color: #ff4d4f;
}

.breadcrumbs {
    position: relative;
    padding: 30px 0;
    z-index: 2;
    text-align: left;
    background-color: #fff;
    -webkit-box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.075);
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.075);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .breadcrumbs {
        padding: 30px;
    }
}

@media (max-width: 767px) {
    .breadcrumbs {
        padding: 30px;
    }
}

.breadcrumbs .breadcrumbs-content {
    position: relative;
    text-align: left;
}

.breadcrumbs .breadcrumbs-content .page-title {
    font-size: 18px;
    color: #081828;
    font-weight: 600;
    position: relative;
    line-height: 28px;
    text-transform: capitalize;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .breadcrumbs .breadcrumbs-content .page-title {
        font-size: 17px;
        line-height: 28px;
    }
}

@media (max-width: 767px) {
    .breadcrumbs .breadcrumbs-content .page-title {
        font-size: 16px;
        text-align: center;
        line-height: 26px;
    }
}

.breadcrumbs .breadcrumbs-content .breadcrumb-nav {
    background: transparent;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0;
    display: inline-block;
}

.breadcrumbs .breadcrumb-nav {
    text-align: right;
}

@media (max-width: 767px) {
    .breadcrumbs .breadcrumb-nav {
        text-align: center;
        margin-top: 15px;
    }
}

.breadcrumbs .breadcrumb-nav li {
    display: inline-block;
    position: relative;
    padding-right: 14px;
    margin-right: 14px;
    text-transform: capitalize;
}

// .breadcrumbs .breadcrumb-nav li:after {
//     content: "\ea62";
//     font-family: lineIcons;
//     font-size: 12px;
//     position: absolute;
//     top: 3px;
//     right: -7px;
// }

.breadcrumbs .breadcrumb-nav li:last-child {
    margin: 0;
    padding: 0;
}

.breadcrumbs .breadcrumb-nav li:last-child::after {
    display: none;
}

.breadcrumbs .breadcrumb-nav li,
.breadcrumbs .breadcrumb-nav li a {
    color: #888;
    font-size: 14px;
    font-weight: 500;
}

.breadcrumbs .breadcrumb-nav li i,
.breadcrumbs .breadcrumb-nav li a i {
    font-size: 13px;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: -1px;
}

.breadcrumbs .breadcrumb-nav li a {
    position: relative;
}

.breadcrumbs .breadcrumb-nav li a:hover {
    color: #0167F3;
}